.hero {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-homepage {
  background-image: url(/images/skyline.jpg);
  background-size: cover;
  
}
@media screen and (min-width: 640px) {
  .hero {
    height: 350px;
  }
  .hero-homepage {
    background-position-y: -15px;
  }
}

@media screen and (min-width: 960px) {
  .hero {
    height: 450px;
  }
  .hero-homepage {
    background-position-y: -45px;
  }
}
@media screen and (min-width: 1500px) {
  .hero {
    height: 650px;
  }
  .hero-homepage {
    background-position-y: -45px;
  }
}