---
layout: default
---
<div class="homepage-split">
  <main id="#main">
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {{ content }}
  </main>
  <div class="homepage-events">
    <aside>
      <h1>Upcoming Meetings</h1>
      {%- assign upcoming = false -%}
      {%- assign today = "now" | date: "%Y-%m-%dT00:00:00%z" | date: "%s" -%}
      {%- for meeting in collections.meetings | sort:"meeting_date" -%}
        {%- assign meetingDate = meeting.data.meeting_date | localtime | date:"%s" -%}
        {%- if meetingDate >= today -%}
          <article class="meeting">
            <h1><a href="{{meeting.url }}">{{ meeting.data.title }}</a></h1>
            {%- if meeting.data.hide_date != true -%}<div class="date">{{ meeting.data.meeting_date | localtime | date: "%A, %B %e, %Y" }}</div>{%- endif -%}
            {%- if meeting.data.location -%}<div class="location">{{ meeting.data.location }}</div>{%- endif -%}
            {%-if meeting.data.teaser -%}<div class="teaser">{{ meeting.data.teaser }}</div>{%- endif -%}
            <ul class="meeting-actions">
              {%- if meeting.data.rsvp_link -%}<li><a href="{{ meeting.data.rsvp_link }}"><span class="fa-light fa-reply"></span> RSVP</a></li>{%- endif -%}
              {%-if meeting.data.hide_date != true -%}<li><a href="/meetings/{{ meeting.data.title | slugify }}.ics"><span class="fa-light fa-calendar-circle-plus"></span> Add To Calendar</a></li>{%- endif -%}
            </ul>
          </article>
          {%- assign upcoming = true -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if upcoming == false -%}
        <p>We have no meetings planned at this time.  Please check back later.</p>
      {%- endif -%}
    </aside>
    <aside>
      <h1>Rochester Security Summit</h1>
      <div class="rss-logo"><a href="https://www.rochestersecurity.org" target="_blank"><img src="/images/rsslogo.png" alt="Rochester Security Summit"></a></div>
      {% assign summitEnds = site.summit_end_date | date: "%s" %}
      {% if summitEnds >= today %}
        <div class="rss-dates">{% daterange site.summit_start_date, site.summit_end_date %}</div>
        <div class="rss-location">{{ site.summit_location }}</div>
      {% endif %}
      <p>Held annually during National Cyber Security Awareness Month, the Rochester Security Summit is a leading regional event that brings together a broad range of experts and professionals from the field of information security, fostering discussion, knowledge sharing, and networking to help drive innovation and address the evolving challenges in the security landscape.</p>
    </aside>
  </div>
</div>
<div class="content-cards">
  <aside class="card">
    <h1>Chapter Sponsorship</h1>
    <p class="centered"><a class="button" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#101;&#109;&#098;&#101;&#114;&#115;&#104;&#105;&#112;&#064;&#114;&#111;&#099;&#105;&#115;&#115;&#097;&#046;&#111;&#114;&#103;" aria-label="Contact us about becoming a sponsor">Contact Us</a></p>
    <p>Interested in becoming a chapter sponsor?<br>
      Email us at <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#101;&#109;&#098;&#101;&#114;&#115;&#104;&#105;&#112;&#064;&#114;&#111;&#099;&#105;&#115;&#115;&#097;&#046;&#111;&#114;&#103;">&#109;&#101;&#109;&#098;&#101;&#114;&#115;&#104;&#105;&#112;&#064;&#114;&#111;&#099;&#105;&#115;&#115;&#097;&#046;&#111;&#114;&#103;</a>.</p>
  </aside>
  <aside class="card">
    <h1>Membership</h1>
    <p class="centered"><a class="button" href="https://www.issa.org/general/register_start.asp" aria-label="Become a member of ISSA and the Rochester chapter today">Join Today</a></p>
    <p>Questions? Contact us at <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#101;&#109;&#098;&#101;&#114;&#115;&#104;&#105;&#112;&#064;&#114;&#111;&#099;&#105;&#115;&#115;&#097;&#046;&#111;&#114;&#103;">&#109;&#101;&#109;&#098;&#101;&#114;&#115;&#104;&#105;&#112;&#064;&#114;&#111;&#099;&#105;&#115;&#115;&#097;&#046;&#111;&#114;&#103;</a></p>
  </aside>
  <aside class="card">
    <h1>Mailing List</h1>
    <p class="centered"><a href="https://rochestersecurity.us10.list-manage.com/subscribe?u=d959327774f7ee5c2ce9d4f38&id=ea5d0e85ab" class="button" aria-label="Subscribe to our mailing list">Subscribe</a></p>
    <p>Stay informed about meetings, events and job opportunities.</p>
  </aside>
</div>
